<html>
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#317EFB"/>
        <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css"/>
        <style>
        body
        {
            height: 560px !important;
        }
        .cotent-r{
            border-left:3px solid rgb(146, 144, 144);
        }
        html
        {
            height: 560px !important;
        }
        .padding-class{
            margin:1em !important;
        }
       </style>
    </head>
    
    <body ng-cloak ng-app="myapp" ng-cloak>
    <div ng-controller="mainCtrl" class="container-fluid padding-class">
        <div class="row">
                <form class="form-group" class="col-sm-7">
                    <label>
                        Select Platform
                    </label>
                        <select class="form-control" ng-model="selectedItem" ng-change="update(selectedItem)">
                            <option ng-repeat="item in list">
                                {{item.platform}}
                            </option>
                        </select>
                        </form>
                        <div class="col-sm-4">
                                <button ng-click="downloadReport()">
                                    Click to download Excel
                                </button>
                            </div>
                        <div class="col-sm-4">
                                <button ng-click="downloadReportPDF()">
                                    Click to download PDF
                                </button>
                            </div>
                                                      
        </div>
        <div class="row" ng-if="!seErr && !nfError" class="container-fluid content" >
                <div class="col-sm-6 cotent-l" >
                   <div class="row card">
                       <div class="col-sm-6">
                            <caption>Total  </caption>
                            <canvas id="bar" class="chart chart-bar" style="max-width:40%;max-height:20%;"
                       chart-data="length" chart-labels="labelsBar"> Total
                    </canvas>
                       </div>
                   </div>
                   
                   <div class="row card" style="max-height:20%;">
                        <div class="col-sm-12">
                                <caption>Share of UIDs of selected platform  </caption>                                
                        <canvas id="bar" class="chart chart-bar" style="max-width:60%; max-height:60%;"
                        chart-data="datapie" chart-labels="labelspie">
                      </canvas> 
                        </div>
                   </div>
                   <div class="row card" style="max-height:20%;">
                        <div class="col-sm-12">
                                <caption>Unique Users :{{doData.length}} </caption>                                
                                <canvas id="pie" class="chart chart-pie"
                                style="max-width:50%;max-height:50%;"
                                chart-data="doData" chart-labels="doLabels"> 
                              </canvas> 
                        </div>
                   </div>
                </div>
                <div class="col-sm-3 cotent-r" style="height:500px !important; overflow-y: scroll;">
                        
                                <table class="table">
                                    <caption>Unique Users </caption>
                                    <tr>
                                        <th>
                                           UID
                                        </th>
                                       <th>
                                           Count
                                       </th>
                                    </tr>
                                    <tr ng-repeat="uid in users">
                                        <td>
                                            {{uid.uid}}
                                        </td>
                                        <td>
                                            {{uid.ucount}}
                                        </td>
        
                                    </tr>
                                </table>
                </div>
                <div class="col-sm-3 cotent-r" style="height:500px !important; overflow-y: scroll;">
                        <table class="table">
                                <caption>All Data</caption>                                
                                <thead>
                                  <tr>
                                    <th ng-repeat="field in fields">
                                        {{field}}
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr ng-repeat="row in data">
                                    <td>{{row.platform}}</td>
                                    <td>{{row.uid}}</td>
                                  </tr>                                
                                </tbody>
                              </table>
                </div>
        </div>
        <div ng-if="nfError && !seErr">
            No Records found
        </div>
        <div ng-if="seErr && !nfError">
                Something is wrong!
            </div>
    </div>
    <script type="text/javascript" src="app/js/libs/jquery/jquery-1.12.3.js"></script>
    <script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
        
    <script type="text/javascript" src="app/js/libs/angular.js"></script>
    <script type="text/javascript" src="app/js/libs/angular-ui-router.js"></script>
    <script type="text/javascript" src="app/js/libs/xlsx.full.min.js"></script>
    <script type="text/javascript" src="app/js/libs/alasql.min.js"></script>
    <script src="app/js/libs/jspdf.debug.js"></script>
    <script type="text/javascript" src="app/js/libs/autotable.js"></script>
    
    <script src="node_modules/angular-chart.js/node_modules/chart.js/dist/Chart.js"></script>
    <script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
    <!-- <script src="scripts/Chart_Module/tc-angular-chartjs.min.js"></script> -->
    <script type="text/javascript" src="app/js/app.js"></script>
    <script type="text/javascript" src="app/js/factory.js"></script>
    <script type="text/javascript" src="app/js/controllers/main.js"></script>
    </body>
    </html>
